---

import SectionContainer from "../components/SectionContainer.astro"
import Badge from "../components/Badge2.astro"
import Layout from "../layouts/Layout.astro"

---

<Layout 
  title="Desing System porfolio.dev"
  description="Catálogo de componentes de diseño para desarrollo web"
>
<SectionContainer class="py-44 pb-32">
  <h1>&lt;Badge&gt;</h1> 
  <Badge> Tailwind </Badge>
  <Badge> Tailwind </Badge>
</SectionContainer> 
</Layout>