<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div>
    <p class="text-lg mb-4 text-pretty">
      Me llamo Andres Cardenas <strong class="text-pretty text-[#acc2ef]"
        > Soy un profesional con experiencia en soporte multimedial,administración de mesas deservicio y gestión logística</strong
      >.
    </p>

    <p class="text-lg mb-4 text-pretty">
      En constante aprendizaje dando un cambio en mi carrera pero apoyandome en mi experiencia previa para mejorar cada dia <strong class="text-pretty text-[#acc2ef]"
        >Mi conjunto dehabilidades técnicas en crecimiento incluye , VSCode, HTML, CSS, JavaScrip, NodeJs, AstroJS, Docker, ReactJs </strong
      >. Estoy comprometido con lacapacitación continua yactualización de mis habilidades técnicas y blandas.
    </p>

    <p class="text-lg mb-4 text-pretty">
      Además, estoy en procesode mejorar mi nivel de inglés para mejorar mis capacidades de comunicación y colaboración en un entorno internacional.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="https://ii.ct-stc.com/1/logos/candidates/2024/01/16/0009029867926thumbnail.jpeg"
    alt="Foto Andres Cardenas"
    class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%"
  />
</article>

<style>
  p {
    color: white;
  }

</style>
