<span
  class="items-center bg-slate-800 text-white-400 text-xl font-medium me-2 px-2.5 py-0.5 rounded-t-full dark:bg-blue-900 dark:text-blue-300 text-center"
  
>
<img 
    class="rounded-full size-18"
    src="https://ii.ct-stc.com/1/logos/candidates/2024/01/16/0009029867926thumbnail.jpeg" 
    alt="Andres Cardenas foto"/>
  <slot/>
</span>