---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Junio 2022 -- Actualmente...",
    title: "Analista de sistemas - CooprofesoresUn",
    description:
      "Me estoy especializando en el desarrollo de aplicaciones web, destacando en la creación de soluciones innovadoras. Mi experiencia abarca el soporte multimedial de primer y segundo nivel, con enfoque en la administración y gestión de la mesa de servicio. Sin embargo, donde realmente brillo es en el apoyo al desarrollo de aplicaciones web propias, utilizando herramientas como HTML, CSS, JS y NodeJS. Mi experiencia incluye el despliegue eficiente mediante contenedores de Docker.",    
  },
  {
    date: "Abril 2021 -- Junio 2022",
    title: "Supervisor logistico y comercial - Inversiones Lejis S.A.S",
    description:
      "Durante mi experiencia laboral, gestioné con éxito el control de inventario y la rotación de productos, analizando variaciones para identificar causas y desarrollar planes de acción. Realicé eficientemente la toma de inventarios de manera semanal y mensual, optimizando procesos para garantizar precisión y cumplimiento de objetivos. Como responsable de la logística, coordiné pedidos, recepción, almacenamiento, preservación, rotación, exhibición y despachos, centrado en asegurar la satisfacción del cliente y alcanzar metas de ventas. Además, supervisé la operación, manteniendo equipos e infraestructura, priorizando la limpieza y seguridad diaria con reportes inmediatos de incidentes",
  },
  {
    date:"Enero 2017 -- Abril 2021" ,
    title:"Administrador punto de venta - Alpina S.A",
    description:"Como Administrador, adquirí habilidades clave en gestión de inventario y logística durante mi experiencia laboral. Lideré la toma de inventarios, aseguré el cumplimiento de normas de calidad, y coordiné la logística de pedidos, almacenamiento y exhibición. Mi enfoque en la eficiencia operativa incluyó el mantenimiento de equipos e infraestructura, garantizando la seguridad y limpieza diaria. Manejé la caja menor con precisión, gestionando el recaudo y registrando las ventas. Mi contribución estratégica y ejecución precisa podría ser un activo valioso para su equipo, combinando habilidades técnicas con un enfoque centrado en resultados.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }  
</ol>
