<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
  <img 
    class="rounded-full size-16"
    src="https://avatars.githubusercontent.com/u/112093659?v=4" 
    alt="andres foto"/>

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#">Inicio</a>
    <a href="#">Sobremi</a>
    <a href="#">Experiencia</a>
    <a href="#">Contato</a> 
    <a href="#">Proyectos</a>
  
  </nav>

</header>